*{
  margin: 0;
  padding: 0;

}

.img{
  width: 600px;
  height: 600px;
  animation: rotate 10000ms linear infinite;
}

.h1{
  color: #fff;
  font-size: 84px;
  font-weight: 700;
  width: 100%;
  letter-spacing: 5px;
  display: flex;
  justify-content: center;
}

.qwe{
  display: flex;
}

countData

.root{
  height: 400vh;
  width: 100%;
}

.container{
  height: 100vh;
  width: 100%;
}

.block2{
  height: 100vh;
  background: rgb(0, 23, 77)
}


.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


@keyframes rotate {
  0% {
    transform: rotateZ(0deg)
  }
  100% {
    transform: rotateZ(360deg)
  }
}