.rootPage1{
  color:#fff;
  font-size: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70vw;
  height: 80vh;
  fd
}

.titlePage1{
  color:#fff;
  font-size: 36px;
  font-weight: 600;
}